/*Table of content

1.) App
2.) NavBar
3.) Main Section
4.) Colors
2.) blue
3.) red


*/
/*1.) App*/
* {
  font-family: arial, sans-serif;
  margin: 0;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
}h1{

  padding: 1px;
}.container {
  height: 70vh;
  display: flex;
  flex-direction: row;
}.container > div {
  display: flex;
}
/* 2.) navbar*/
#navbar{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 5px;
  padding-right: 20px;
}#navbar>a{
  
}
/* Main section*/



/*2.) Color Sidebar*/
#sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 150px;
  padding: 0em;
  justify-content: start;
  align-items: flex-start;
  border: 1px solid black;
}#sidebar>a{
  width: 100%;
  color: black;
}a:hover{
  background-color: gray;
  color: white;
}



/* 4.) Colors*/
.color{
  width: 100%;

}
#red {
  background-color: #b05f6d;
  color: white;
}

#blue {
  background-color: #275db3;
  color: white;
}

/*footer*/
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}